<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title> Not Login</title>
</head>
<body>
    <h1>Hi, <%= name %></h1>
    <form action="/logout" method="get">
        <button type="submit">LogOut</button>
    </form>
</body>
</html>